# Node modules
node_modules/
**/node_modules/

# Environment files & secrets
.env
**/.env
*.env

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
